[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "dumpster-fire/themes/hugo-bearblog"]
	path = dumpster-fire/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
